<div class="p-2">
  <div class="flex flex-row items-center p-5 gap-4">
    <label>
      New Translation Key:
      <input [(ngModel)]="newKey" type="text" class="border border-gray-301">
    </label>
    <button (click)="addKey()" class="w-fit bg-blue-600 text-white font-semibold px-4 py-2 rounded shadow hover:bg-blue-700 transition">
      Add Key
    </button>
  </div>
  <table class="min-w-full bg-white rounded shadow border border-gray-300">
    <thead>
    <tr class="">
      <th class="">Keys</th>
      @for (key of keys; track key) {
        <th class="">
          {{ key }}
        </th>
      }
    </tr>
    </thead>
    <tbody class="border">
      @for (lang of languages; track lang) {
          <tr class="min-h-full border border-gray-200">
            <th class="text-start">
              {{ lang }}
            </th>
            @for (key of keys; track key) {

              <td class="border border-gray-200" contenteditable="true">
                <input type="text" class="h-fit text-pretty " [(ngModel)]="translation[key][lang]">
              </td>
            }
          </tr>
      }
    </tbody>
  </table>
</div>
